<%= form_with model: link, data: {controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} do |form|%>
    <div class="flex items-center gap-2 my-4">
        <%=  form.url_field :url, required: true, autofocus:true, placeholder: "https://google.com", class: "flex-grow rounded"%>
        <%= form.button "Shorten URL", class: "px-7 py-2 bg-green-500 rounded text-white"%>
    </div>
<% end %>
